* {
    box-sizing: border-box;
	font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

header {
    width: 100%;
    background-color: lightblue;
    border-radius: 10px;
    border-radius: 50% 50% 0% 0%;
}
#navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color:rgba(6, 6, 46, 0.5);
    border: black double;
    border-width: 5px;
    align-items: center;
    border-radius: 20px;
}
#welcome {
    font-size: 20px;
}
.button {
    background-color: silver;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 50px;
    font-size: 16px;
    cursor: pointer;
}
#resume {
	background-color: goldenrod;
	border-width: 4px;
}

#tabs {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
	text-align: center;
}
.section {
	padding: 5px 10px;
}
.button#addGoal {
	font-size: 12px;
	padding: 5px 10px;
}

#socials {
    display: flex;
    justify-content: center;
    padding: 4px;
	background-color: rgba(6, 6, 46, 0.5);
    border: black double;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
#socials a {
    padding: 5px 20px;
	text-decoration: none;
	color: white;
}
